.entries{
  padding: 2rem 0;
}
.entry{
  width: 100%;
  padding: 1rem;
  overflow: auto;

  form{
    padding: 0.4rem 0;
    float: left;

    input{
      margin: 0 0.6rem 0 0;
      padding: 0.2rem 0.4rem;
      font-size: 0.8rem;
      border: 1px solid $color-light-grey;
      background: white;
      cursor: pointer;

      &:hover{
        color: $color-white;
        background: $color-brand;
        border: 1px solid $color-brand;
      }
    }
  }
}
