*, *:after, *:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body{
  margin: 0;
  padding: 0px;
  font-family: sans-serif;
}



.wrapper{
  width: 100%;
  max-width: 500px;
  margin: 2rem auto;
  padding: 0 10px;
}




form{
  text-area{
    background: orangered;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
