.form{
  width: 100%;

  input{
    margin: 0.2rem 0;
    padding: 0.2rem 0;
    width: 100%;
    padding: 0.3rem;
    border: 1px solid $color-light-grey;
  }

  input[type="submit"]{
    margin: 0 0 0.5rem 0;
    cursor: pointer;

    &:hover{
      color: $color-white;
      background: $color-brand;
      border: 1px solid $color-brand;
    }
  }
  input[type="submit"].form-50{
    width: calc(50% - 0.4rem);
    margin: 0.5rem 0.2rem 0 0.2rem;
    float: left;
  }

  textarea{
    margin: 0.2rem 0;
    padding: 0.2rem 0;
    width: 100%;
    padding: 0.3rem;
    border: 1px solid $color-light-grey;
  }
}
